
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header{
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198,198,198,0.36);
    border-radius: 20px;
    padding: 0.8em 1rem;
    color: #fff
}

.item{
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198,198,198,0.36);
    border-radius: 20px;
    background: antiquewhite;
    padding: 0.8em 1rem;
    color: coral;
    text-align: center;
    cursor: grab;
}

.item:active{
    cursor: grabbing;
}

.placeholder{
    width: 150px;
    height: 66px;
}

.start {
    background: darkorange;
}

.progress{
    background: darksalmon;
}

.done {
    background: indianred;
}

.hold{
    color: aqua;
    border: 4px solid cadetblue ;
    background-color:darkslategrey;
}

.hide {
    display: none;
}

.hovered {
    border-left:4px solid indianred;
    border-bottom: 4px solid indianred ;
}